<p id="notice"><%= notice %></p>

<h1>Stays</h1>

<table>
  <thead>
    <tr>
      <th>Room</th>
      <th>Rate</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stays.each do |stay| %>
      <tr>
        <td><%= stay.room %></td>
        <td><%= stay.rate %></td>
        <td><%= stay.client %></td>
        <td><%= link_to 'Show', stay %></td>
        <td><%= link_to 'Edit', edit_stay_path(stay) %></td>
        <td><%= link_to 'Destroy', stay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stay', new_stay_path %>
