<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @rate.day %>
</p>

<p>
  <strong>Price:</strong>
  <%= @rate.price %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
